@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
$height_header: 30px;

.header{
   width: 100%;
   background-color: rgb(170, 66, 66);
   height: $height_header;
   border-radius: 20px 20px 0 0;
   span{
      color: white;
      margin-left: 20px;
      font-size: 20px;
      font-family: 'Sacramento', cursive;
   }
}

